<div class="header">
  <a class="logo" [routerLink]="['/']"
    >Game
    <span style="color: tomato">NG</span>
  </a>
  <ul class="menu_links">
    <li class="menu_link">
      <a class="startGame" [routerLink]="['/startgame']">Start Game</a>
    </li>
    <li class="menu_link">
      <a class="leaderBoard" [routerLink]="['/leaderboard']">Leader Board</a>
    </li>
  </ul>
  <div class="login_reg">
    <a class="login" [routerLink]="['/login']">Sign in</a>
    <a class="register" [routerLink]="['/registration']">Sign up</a>
  </div>
</div>
