<div class="homecontainer">
  <h1 class="title">
    Welcome to the number guessing game!

    <img src="../../../assets/img/cat.png" alt="Secret" />
  </h1>
  <hr />
  <h5>
    Before starting the game, let me introduce the game rules !!!
    <img src="../../../assets/img/cat.png" alt="Cow" />
  </h5>
  <h6>
    1. To start the game you need to register first.
    <i style="font-style: italic; color: gray"
      >( After that the game would be eligible to start. )</i
    >
  </h6>

  <h6>
    2. Then go to the start game menu, there click the button to generate the
    session ID.
  </h6>
  <h6>3. Below there are two fields to insert session ID and guess number.</h6>
  <h6>
    4. Then, generated session ID would place automaticaly in session ID fields
    and write your guessed number.
  </h6>
  <h6>
    5. Click guess button, then you will see your result win or lose, according
    to result you will continue.
  </h6>
  <h6 style="margin-top: 50px; color: tomato; font-weight: 500">
    Hope, you understand how to play the game, good luck !!!
    <img src="../../../assets/img/cat.png" alt="Cat" />
  </h6>
</div>
