<div class="homecontainer">
  <h1 class="title">
    Welcome to the number guessing game!

    <img src="../../../assets/img/cat.png" alt="Secret" />
  </h1>
  <hr />
  <h5>
    Before starting the game, let me introduce the game rules !!!
    <img src="../../../assets/img/cat.png" alt="Cow" />
  </h5>
  <h6>
    1. To start the game you need to register first.
    <i style="font-style: italic; color: gray"
      >( After that the game would be eligible to start. )</i
    >
  </h6>

  <h6>
    2. Then go to the home page, there click the start button to start the game.
  </h6>
  <h6>3. It will direct to the start game page.</h6>

  <h6>
    4. Type numbers, click guess button, then you will see your results below,
    according to your result you will continue.
  </h6>
  <h6 style="margin-top: 50px; color: tomato; font-weight: 500">
    Hope, you understand how to play the game, good luck !!!
    <img src="../../../assets/img/cat.png" alt="Cat" />
  </h6>

  <hr />
  <div class="generatesession">
    <button class="sessionidbtn" (click)="getSessionId()">Start</button>
    <div
      *ngIf="errorMessageSession"
      class="error-message"
      style="color: rgb(214, 7, 7); padding-left: 20px; font-size: 0.8em"
    >
      {{ errorMessageSession }}
    </div>
  </div>
</div>
