<div class="startgame">
  <!----------------------------Title-------------------------------->
  <h1>1</h1>
  <!----------------------------Generate Session ID-------------------------------->
  <div class="generatesession">
    <button class="sessionidbtn" (click)="getSessionId()">
      Generate session ID
    </button>
    <p class="sessionidResult">{{ sessionId }}</p>
  </div>
  <hr />
  <!----------------------------Submit session id and random guessed number-------------------------------->

  <div class="game_field">
    <div class="game_field_submit">
      <h1>2</h1>
      <form (ngSubmit)="makeGuess()">
        <div class="formGroup">
          <input
            class="sessionId"
            type="text"
            name="sessionid"
            placeholder="You session ID here ..."
            required
            value="{{ sessionId }}"
            disabled
          />
        </div>
        <div
          *ngIf="errorMessage"
          class="error-message"
          style="color: rgb(214, 7, 7); padding-left: 20px; font-size: 0.8em"
        >
          {{ errorMessage }}
        </div>
        <div class="formGroup">
          <input
            class="guessNumber"
            type="number"
            name="guessnumber"
            placeholder="Type guess number here ..."
            [(ngModel)]="userInput"
            required
            maxlength="4"
            minlength="4"
          />
        </div>
        <div class="formGroup">
          <button class="guessNumberApply" type="submit">Guess Number</button>
        </div>
      </form>
    </div>
    <div class="game_field_result">
      <h1>3</h1>

      <span>{{ gameResultStatus }}</span
      ><br />
      <hr />
      <span>{{ gameResultMessage }}</span>
    </div>
  </div>
</div>
